<!--=== Header ===-->
<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo" href="/nodix.site/"><img src="/assets/img/Nodix.svg" alt="Logo" /></a>
        <!-- End Logo -->
        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- node -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Node</a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/nodix.site/services">Service</a></li>
                        <li><a href="/nodix.site/applications">Applications</a></li>
                    </ul>
                </li>
                <!-- /node -->
                <!-- wallet -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Wallet</a>
                    <ul class="dropdown-menu">
                        <li><a href="/nodix.site/wallet">Wallet</a></li>
                        <li><a href="/nodix.site/staking">Staking</a></li>
                        <li><a href="/nodix.site/transaction">Transaction</a></li>
                    </ul>
                </li>
                <!-- /wallet -->
                <!-- blockexplorer -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Block explorer</a>
                    <ul class="dropdown-menu">
                        <li><a href="/nodix.site/blocks">Blocks</a></li>
                        <li><a href="/nodix.site/address">Address</a></li>
                        <li><a href="/nodix.site/block">block</a></li>
                        <li><a href="/nodix.site/tx">Transaction</a></li>
                    </ul>
                </li>
                <!-- /blockexplorer -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Demo App</a>
                    <ul class="dropdown-menu">
                        <li><a href="/app/raytrace/page/raytrace.site/index">raytracing</a></li>
                    </ul>
                </li>

</li>
            </ul>
</div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>
<!--=== End Header ===-->