<style type="text/css">
    #staking_div {
        border: 1px solid;
        border-radius: 4px;
        padding: 8px;
    }

    #list_table td {
        vertical-align: top;
    }

    .tx_error {
        color: #F00;
    }

    .tx_ready {
        color: #0F0;
    }
</style>

<script language="javascript">
    var ec;
    var addrs = null;
    var unspents = null;
    var stake_unspents = null;
    var totalweight = 0;
    var pubkey;
    var privkey;
    var unit = 1;
    var staketimer = null;
    var block_target, now, last_block_time;
    var nHashes = 0;

    function get_source_addrs(username) {
        rpc_call('getpubaddrs', [username], function (data) {
            var n;
            var arAddr = [];

            my_addrs = data.result.addrs;
            update_staking_addrs('address_list_table');

            $('.dostake').change(function () {
                var addr = $(this).attr('addr');
                var secret = $('#secret_' + addr).val();
                rpc_call('getprivaddr', [accountName, addr], function (keyData) {
                    var AddrAr = [];
                    var DecHexkey = strtoHexString(un_enc(secret, keyData.result.privkey.slice(0, 64)));
                    var test_key = ec.keyPair({ priv: DecHexkey, privEnc: 'hex' });
                    var tpubkey = test_key.getPublic().encodeCompressed('hex');
                    rpc_call('pubkeytoaddr', [tpubkey], function (data) {
                        if (data.result.addr != addr) {
                            $('#dostake_' + addr).prop('checked', false);
                            $('#secret_' + addr).css('color', 'red');
                            $('#dostake_' + addr).attr('pubkey', '');
                            $('#dostake_' + addr).attr('privkey', '');
                        }
                        else {
                            $('#dostake_' + addr).prop('checked', true);


                            $('#dostake_' + addr).attr('pubkey' , tpubkey);
                            $('#dostake_' + addr).attr('privkey', DecHexkey);
                            $('#secret_' + addr).css  ('color', 'green');
                        }

                        for (n = 0; n < my_addrs.length; n++) {
                            if ($('#dostake_' + my_addrs[n].address).is(':checked'))
                                AddrAr.push(my_addrs[n].address);
                        }
                        list_unspent(AddrAr, 'list_table');
                        

                    });
                });
            });
        });
    }
    </script>
    <div class="container">
        <div class="row">
        <div class="col-sm-1"><label>Units</label></div>
        <div class="col-md-2">
            <select style="max-width:120px;" onchange="unit = this.options[this.selectedIndex].value; update_unspent('list_table'); $('#stakeweight').html(totalweight / unit); update_staking_addrs('address_list_table');" id="units" name="units">
            <option value="1">satoshis</option>
            <option value="1000000">cents</option>
            <option value="100000000">coin</option>
            </select>
        </div>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-1"><label>Account</label></div>
        <div class="col-md-2"><select id="my_account" name="my_account" style="max-width:120px;" onchange="  if (window.location.href.substr(window.location.href.lastIndexOf('/') + 1) == 'transaction') window.location.href = './transaction/' + this.options[this.selectedIndex].value; else window.location.href = './' + this.options[this.selectedIndex].value; "></select></div>
    </div>
    </div>

    <div class="container">
    <p>Enter the secret key for the addresses you want to use for the transaction on below, and check the box to enable transaction from this address.</p>
    <table id="address_list_table" txdiv="list_table" class="table">
        <thead><tr><th>address</th><th>confirmed</th><th>unconfirmed</th><th>secret</th><th>use in transaction</th></tr></thead>
        <tbody></tbody>
    </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">send : <input name="amount" id="amount" type="text" /> </div>
            <div class="col-md-2">tx fee : <input name="paytxfee" id="paytxfee" type="text" /> </div>

            <div class="col-md-2">to : <input type="text" id="dstAddr" name="dstAddr" /> </div>
            <div class="col-md-2"><input type="button" value="view tx" onclick=" maketxfrom(getMyAddrs(), $('#amount').val(), $('#dstAddr').val(), 'list_table');" /></div>
        </div>

        <div class="row">
            <div class="col-md-6"><div id="newtx"></div><input type="button" onclick=" signtxinputs(my_tx.txid, my_tx.txsin);" value="sign & send" /></div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table id="list_table" class="table"><thead><tr><th>time</th><th>tx</th><th>amount</th><th>nconf</th></tr></thead><tbody></tbody></table>
        </div>
    </div>
</div>
