<!--=== Wallet ===-->
<div class="container content">
  <section>
  <div class="row">
      <div class="col-md-2"><label>Units</label></div>
      <div class="col-md-2">
          <select onchange="unit = this.options[this.selectedIndex].value; update_blocks(); update_txs(txs, 'tx_list');" style="max-width:120px;" id="units" name="units">
              <option value="100000000">ADX</option>
              <option value="100000">mADX</option>
              <option value="100">µADX</option>
          </select>
      </div>
  </div>
  <h2 class="heading-md">Manage your wallet</h2>
  </section>

  <p>Below are the addresses for your account. <br /> <span id="uname"></span>&nbsp;<span id="myaddrhdr"></span></p>
  <br />
  <form class="sky-form" id="sky-form" action="#">
  <!-- Wallet-Form -->
  <section>
      
      <div class="row">
          <div class="col-md-2">
              <select id="my_account" name="my_account" style="max-width:120px;" onchange="accountName = this.options[this.selectedIndex].value; if (accountName.length == 0) { $('#account_name').prop('disabled', false); my_addrs = null; update_my_addrs('my_address_list_table'); } else { $('#account_name').prop('disabled', true); $('#account_name').val(accountName); get_addrs(accountName, 'my_address_list_table'); $('#uname').html(accountName); }"></select>
          </div>
          <div class="col-md-2">
              <label>account</label><input type="text" name="account_name" id="account_name" />
          </div>
      </div>
      <!-- <div id="my_address_list_table"></div>-->
      <table id="my_address_list_table" class="table table-hover" txdiv="addr_list">
          <thead><tr><th>label</th><th>balance</th><th>uncomfirmed balance</th></tr></thead>
          <tbody></tbody>
      </table>
  </section>
  <section>
      <div id="newaddr">
          <h3>import</h3>
          <input type="button" value="create new" onclick="generateKeys();" />
          <dl class="dl-horizontal">
              <dt>label</dt>
              <dd>
                  <section>
                      <label class="input">
                          <b class="tooltip tooltip-bottom-right">Key label</b>
                          <input size="32" type="text" id="addrlabel" value="" />
                      </label>
                  </section>
              </dd>
              <dt>address</dt>
              <dd>
                  <section>
                      <label class="input state-disabled">
                          <b class="tooltip tooltip-bottom-right">public address</b>
                          <input size="32" type="text" id="pubaddr" value="" disabled="disabled" />
                      </label>
                  </section>
              </dd>
              <dt>privkey</dt>
              <dd>
                  <section>
                      <label class="input">
                          <b class="tooltip tooltip-bottom-right">private key</b>
                          <input size="58" type="text" id="privkey" oninput="newkey(this.value);" value="" /><span style="color:red;" id="prv_key_msg"></span>
                      </label>
                  </section>
              </dd>
              <dt>secret key : </dt>
              <dd>
                  <section>
                      <label class="input">
                          <b class="tooltip tooltip-bottom-right">Do not forget this key, we do not own a copy, it is your responsibility to note it somewhere. <br /> You will not be able to withdraw your coins or make any transaction on our website if you loose it, neither sign bounties & get key your reward !</b>
                          <input type="text" value="" name="imp_key" id="imp_key" /><span style="color:red;" id="imp_key_msg"></span><input type="button" value="import" onclick="import_keys($('#account_name').val(), $('#addrlabel').val(), 'my_address_list_table');" /><i class="icon-append fa fa-lock"></i>
                          <span>
                              Do not forget this key, we do not own a copy, it is your responsibility to note it somewhere. <br /> You will not be able to withdraw your coins or make any transaction on our website if you loose it, neither sign bounties & get key your reward !
                          </span>
                      </label>
                  </section>
              </dd>
          </dl>
          <br />
      </div>
  </section>
  <section>
      <h2 class="heading-md">Manage your transactions</h2>
      <div id="my_wallet">
          <section>
              <h3 id="unspentaddr"></h3>
              <div class="row">
                  <span id="privAddr"></span><br />
                  enter your secret :<input type="text" id="viewPrivSecret" /><input type="button" onclick="privKeyAddr(accountName, $('#unspentaddr').html(), $('#viewPrivSecret').val());" value="get private addr" />
              </div>
          </section>
          <section>
              <div class="row">
                  <h2 id="tab_unspent" onclick="list_unspent($('#unspentaddr').html(),'addr_list');">unspent</h2><h2 id="tab_spent" onclick="list_spent($('#unspentaddr').html());">spent</h2><h2 id="tab_received" onclick="list_recvs($('#unspentaddr').html());">received</h2>
                  <div class="info">total:<span id="txtotal"></span></div>
                  <div class="info">showing:<span id="ntx"></span>/<span id="total_tx"></span></div>
                  <table id="addr_list"><thead><tr><th>time</th><th>tx</th><th>from</th><th>amount</th><th>nconf</th></tr></thead><tbody></tbody></table>
              </div>
          </section>
      </div>
  </section>
  <!-- End Wallet-Form -->
</form>
</div>
<!--=== End Wallet ===-->
</div>
<!--/wrapper-->